/ {
    combos {
        // Letters
        q {
            timeout-ms = <30>;
            key-positions = <0 1>;
            bindings = <&kp Q>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <7 6>;
        };

        bspc {
            bindings = <&kp BSPC>;
            key-positions = <29 30>;
        };


        // Symbols Left
        combo_at {
            timeout-ms = <30>;
            bindings = <&kp AT>;
            key-positions = <0 9>;
            layers = <0 1>; 
            require-prior-idle-ms = <50>;
        };
        combo_hash {
            timeout-ms = <30>;
            bindings = <&kp HASH >;
            key-positions = <1 10>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_dollar {
            timeout-ms = <30>;
            bindings = <&kp DLLR >;
            key-positions = <2 11>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_percent {
            timeout-ms = <30>;
            bindings = <&kp PRCNT >;
            key-positions = <3 12>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        }; 

        combo_grave {
            timeout-ms = <30>;
            bindings = <&kp GRAVE >;
            key-positions = <9 19>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_bslh {
            timeout-ms = <30>;
            bindings = <&kp BSLH >;
            key-positions = <10 20>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_equal {
            timeout-ms = <30>;
            bindings = <&kp EQUAL>;
            key-positions = <11 21>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_tilde {
            timeout-ms = <30>;
            bindings = <&kp TILDE >;
            key-positions = <12 22>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };

        // Right 

        combo_carret {
            timeout-ms = <30>;
            bindings = <&kp CARET >;
            key-positions = <4 13>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_plus {
            timeout-ms = <30>;
            bindings = <&kp PLUS >;
            key-positions = <5 14>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_asterisk {
            timeout-ms = <30>;
            bindings = <&kp STAR >;
            key-positions = <6 15>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_amp {
            timeout-ms = <30>;
            bindings = <&kp AMPS >;
            key-positions = <7 16>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };

        combo_under {
            timeout-ms = <30>;
            bindings = <&kp UNDER >;
            key-positions = <13 23>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_minus {
            timeout-ms = <30>;
            bindings = <&kp MINUS >;
            key-positions = <14 24>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_fslh {
            timeout-ms = <30>;
            bindings = <&kp FSLH >;
            key-positions = <15 25>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };
        combo_pipe {
            timeout-ms = <30>;
            bindings = <&kp PIPE >;
            key-positions = <16 26>;
            layers = <0 1 >; 
            require-prior-idle-ms = <50>;
        };


        // Right Horizontal
        combo_lpar {
            timeout-ms = <18>;
            bindings = <&kp LPAR >;
            key-positions = <14 15>;
            layers = <0 1 >; 
            require-prior-idle-ms = <150>;
        };
        combo_rpar {
            timeout-ms = <18>;
            bindings = <&kp RPAR >;
            key-positions = <15 16>;
            layers = <0 1 >; 
            require-prior-idle-ms = <150>;
        };
        combo_lbrc {
            timeout-ms = <18>;
            bindings = <&kp LBRC >;
            key-positions = <13 14>;
            layers = <0 1 >; 
            require-prior-idle-ms = <150>;
        };
        combo_rbrc {
            timeout-ms = <18>;
            bindings = <&kp RBRC >;
            key-positions = <23 24>;
            layers = <0 1 >; 
            require-prior-idle-ms = <150>;
        };
        combo_lbkt {
            timeout-ms = <18>;
            bindings = <&kp LBKT >;
            key-positions = <24 25>;
            layers = <0 1 >; 
            require-prior-idle-ms = <150>;
        };
        combo_rbkt {
            timeout-ms = <18>;
            bindings = <&kp RBKT >;
            key-positions = <25 26>;
            layers = <0 1 >; 
            require-prior-idle-ms = <150>;
        };



        combo_swapper {
            timeout-ms = <18>;
            bindings = <&swapper >;
            key-positions = <32 33>;
            layers = <0 1 >; 
        };
    };
};