#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp Q>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <7 6>;
        };

        bspc {
            bindings = <&kp BSPC>;
            key-positions = <29 30>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {


            label = "BASE";
            bindings = <
//                             ╭──────────────┬──────────────┬──────────────┬──────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────╮
                                 &kp Y          &kp O          &kp U          &kp SEMI           &kp X          &kp L          &kp D          &kp W       
//              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤  
                  &kp C          &kp I          &kp E          &kp A          &kp COMMA          &kp K          &kp H          &kp T          &kp N          &kp S
//              ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤ 
                  &kp SQT        &kp FSLH       &kp EQUAL      &kp MINUS      &kp DOT            &kp J          &kp M          &kp G          &kp P          &kp F         
//              ╰──────────────┴──────────────┴──────────────┼──────────────┼──────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┴──────────────╯
                                                 &kp B         &kp SPACE      &kp V              &lt 1 SPACE    &kp R          &kp ENTER      
//                                            ╰──────────────┴──────────────┴──────────────╯   ╰──────────────┴──────────────┴──────────────╯
            >;
        };
    };
};
